### Titanic Dataset

In [1]:
import pandas as pd
from sklearn import naive_bayes
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

Read in the actual dataset of 887 Titanic passengers.

In [2]:
df = pd.read_csv('data/titanic.csv')
print(df.shape)
df.head()

(887, 8)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

### Question 1:
Create an input matrix containing the explanatory variables (including a one-hot matrix of the Sex column and deleting the name column) and use it to predict the response variable, Survived, using the Naive-Bayes algorithm.

Use the sklearn naive_bayes model to do this with a 70/30 Train/Test split.

In [4]:
one_hot = pd.get_dummies(df['Sex'])
df = df.join(one_hot)
df = df.drop(columns='Sex')
df

,Survived,Pclass,Name,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,female,male
0,0,3,Mr. Owen Harris Braund,22.0,1,0,7.2500,0,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,38.0,1,0,71.2833,1,0
2,1,3,Miss. Laina Heikkinen,26.0,0,0,7.9250,1,0
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,35.0,1,0,53.1000,1,0
4,0,3,Mr. William Henry Allen,35.0,0,0,8.0500,0,1
...,...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,27.0,0,0,13.0000,0,1
883,1,1,Miss. Margaret Edith Graham,19.0,0,0,30.0000,1,0
884,0,3,Miss. Catherine Helen Johnston,7.0,1,2,23.4500,1,0
885,1,1,Mr. Karl Howell Behr,26.0,0,0,30.0000,0,1
886,0,3,Mr. Patrick Dooley,32.0,0,0,7.7500,0,1

In [5]:
# insert
X = df.drop(columns = ["Survived","Name"])
y = df["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=4444)

model = naive_bayes.GaussianNB()
model.fit(X_train,y_train)

print('train accuracy', model.score(X_train, y_train))
print('test accuracy', model.score(X_test, y_test))

confusion_matrix(y_test, model.predict(X_test))

train accuracy 0.7919354838709678
test accuracy 0.8127340823970037

array([[144,  19],
       [ 31,  73]])

### Question 2:
How many dead passengers were incorrectly predicted to survive in the TEST set? How many survivors were incorrectly predicted to be deceased?

In [6]:
# insert
print("There is 31 people who is actually survived but predicted as Not")
print("There is actually 19 people who do Not survived, being prediced as survived")

There is 31 people who is actually survived but predicted as Not
There is actually 19 people who do Not survived, being prediced as survived

### Question 3:
Would you predict survival or death of a 3rd class, 18 year old, male passenger who had no family aboard and paid $1?

Would you predict survival or death of a 1st class, 18 year old, female passenger who had no family aboard and paid $50?

For each of these questions, also print the probabilities estimates using predict_proba.

In [7]:
#Question3
male = [3, 18, 0, 0, 1, 0, 1]
female = [3, 18, 0, 1, 1, 0]
print(model.predict([[3, 18, 0, 0, 1, 0, 1]]))
print(model.predict([[3, 18, 0, 0, 1, 1, 0]]))

[0]
[1]

### Question 4: 
Return to the golf example from yesterday. Write a function called NaiveBayes that takes in an outlook, temp, humidity, and wind, and returns whether we predict that we will play golf or not. Within the function, print both the probabilities of yes or no. If you want to be fancy, you can make this function more general, but it's okay to make this very specific to the golf example.

Here is an example of correct output:
```java
NaiveBayes(
    'Rainy', 'Hot', 'Normal', True
)
```

```
Prob Yes: 0.6067961165048542
Prob No: 0.3932038834951457
```

**Note** You are writing your own function that implements Naive Bayes techniques as described in the articles, NOT using the sklearn libaries.

In [53]:
#insert
df = pd.read_csv("data/golf.csv")
df

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Sunny   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Rainy  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [54]:
one_hot = pd.get_dummies(df[['Outlook', 'Temp', 'Humidity', 'Windy']])
x = one_hot
y = df['Play Golf']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=4444)
model = naive_bayes.GaussianNB()
model.fit(X_train,y_train)

print('train accuracy', model.score(X, y))
print('train accuracy', model.score(X_train, y_train))
print('test accuracy', model.score(X_test, y_test))
confusion_matrix(y_test, model.predict(X_test))

train accuracy 0.7857142857142857
train accuracy 1.0
test accuracy 0.4

array([[0, 3],
       [0, 2]])

In [50]:
columns = df.columns
columns = list(columns)
columns.remove('Play Golf')
for term in columns:
    one_hot = pd.get_dummies(df[term])
    df = df.join(one_hot)
df = df.drop(
    columns=columns
)
df

,Play Golf,Overcast,Rainy,Sunny,Cool,Hot,Mild,High,Normal,False,True
0,No,0,1,0,0,1,0,1,0,1,0
1,No,0,0,1,0,1,0,1,0,0,1
2,Yes,1,0,0,0,1,0,1,0,1,0
3,Yes,0,1,0,0,0,1,1,0,1,0
4,Yes,0,0,1,1,0,0,0,1,1,0
5,No,0,0,1,1,0,0,0,1,0,1
6,Yes,1,0,0,1,0,0,0,1,0,1
7,No,0,1,0,0,0,1,1,0,1,0
8,Yes,0,1,0,1,0,0,0,1,1,0
9,Yes,0,0,1,0,0,1,0,1,1,0
10,Yes,0,1,0,0,0,1,0,1,0,1
11,Yes,1,0,0,0,0,1,1,0,0,1
12,Yes,1,0,0,0,1,0,0,1,1,0
13,No,0,0,1,0,0,1,1,0,0,1

In [51]:
X = df.drop(columns = ['Play Golf'])
y = df['Play Golf']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=4444)
model = naive_bayes.GaussianNB()
model.fit(X_train,y_train)
print('train accuracy', model.score(X, y))
print('test accuracy', model.score(X_test, y_test))
model.classes_

train accuracy 0.7857142857142857
test accuracy 0.4

array(['No', 'Yes'], dtype='<U3')

In [55]:
def NaiveBayes(outlook, temp, humidity, wind):
    df = pd.read_csv("data/golf.csv")
    columns = df.columns
    columns = list(columns)
    columns.remove('Play Golf')
    
    input_var = []
    input_var = input_var + outlook.split() + temp.split() + humidity.split() + str(wind).split()
    input_var[-1] = bool(input_var[-1])
    input_var = tuple(input_var)
    list0 = []
    list0.append(input_var)
    columns = ['Outlook', 'Temp', 'Humidity', 'Windy']
    new_df = pd.DataFrame(list0, columns = columns)
    df = df.append(new_df, ignore_index=True)
    
    # df = pd.get_dummies(df[columns])
    columns = df.columns
    columns = list(columns)
    columns.remove('Play Golf')
    for term in columns:
        one_hot = pd.get_dummies(df[term])
        df = df.join(one_hot)
    columns.append('Play Golf')
    df = df.drop(
        columns=columns
    )
    
    pred = model.predict_proba([df.iloc[-1]])
    return pred

mp = NaiveBayes('Rainy', 'Hot', 'Normal', True)
mp

array([[0., 1.]])

In [14]:
model.predict_proba([[0,1,0,0,1,0,0,1,0,1]])

array([[0., 1.]])