### Titanic Dataset

In [2]:
import pandas as pd
from sklearn import naive_bayes
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

Read in the actual dataset of 887 Titanic passengers.

In [14]:
df = pd.read_csv('data/titanic.csv')
print(df.shape)
df.head()

(887, 8)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

### Question 1:
Create an input matrix containing the explanatory variables (including a one-hot matrix of the Sex column and deleting the name column) and use it to predict the response variable, Survived, using the Naive-Bayes algorithm.

Use the sklearn naive_bayes model to do this with a 70/30 Train/Test split.

In [ ]:
one_hot = pd.get_dummies(df['Sex'])
df = df.join(one_hot)
df = df.drop(columns='Sex')

In [15]:
# insert
X = df.drop(columns = ["Survived","Name"])
y = df["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=4444)

model = naive_bayes.GaussianNB()
model.fit(X_train,y_train)

print('train accuracy', model.score(X_train, y_train))
print('test accuracy', model.score(X_test, y_test))

confusion_matrix(y_test, model.predict(X_test))

train accuracy 0.7919354838709678
test accuracy 0.8127340823970037

array([[144,  19],
       [ 31,  73]])

### Question 2:
How many dead passengers were incorrectly predicted to survive in the TEST set? How many survivors were incorrectly predicted to be deceased?

In [16]:
# insert
print("There is 31 people who is actually survived but predicted as Not")
print("There is actually 19 people who do Not survived, being prediced as survived")

There is 31 people who is actually survived but predicted as Not
There is actually 19 people who do Not survived, being prediced as survived

### Question 3:
Would you predict survival or death of a 3rd class, 18 year old, male passenger who had no family aboard and paid $1?

Would you predict survival or death of a 1st class, 18 year old, female passenger who had no family aboard and paid $50?

For each of these questions, also print the probabilities estimates using predict_proba.

In [ ]:
# insert
class_3 = []

### Question 4: 
Return to the golf example from yesterday. Write a function called NaiveBayes that takes in an outlook, temp, humidity, and wind, and returns whether we predict that we will play golf or not. Within the function, print both the probabilities of yes or no. If you want to be fancy, you can make this function more general, but it's okay to make this very specific to the golf example.

Here is an example of correct output:
```python
NaiveBayes('Rainy', 'Hot', 'Normal', True)
```

```
Prob Yes: 0.6067961165048542
Prob No: 0.3932038834951457
```

**Note** You are writing your own function that implements Naive Bayes techniques as described in the articles, NOT using the sklearn libaries.

In [ ]:
#insert
df = pd.read_csv("data/golf.csv")
df.head()